<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Order</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid" style="text-align: center">
    <img th:src="@{/images/taco.svg}" style="width: 40%"/>
</div>

<div class="container-fluid" style="width: 700px">
    <h1 style="text-align:center; margin-bottom: 3rem">Dane zamówienia</h1>
    <form th:object="${order}" th:action="@{/order/create}" method="post">

        <h2>First Name</h2>
        <input type="text" th:field="*{customerFirstName}">
        <div style="color:red">
            <span th:if="${#fields.hasErrors('customerFirstName')}"
                  th:errors="*{customerFirstName}">Błąd</span>
        </div>

        <h2>Last Name</h2>
        <input type="text" th:field="*{customerLastName}">
        <div style="color:red">
            <span th:if="${#fields.hasErrors('customerLastName')}"
                  th:errors="*{customerLastName}">Błąd</span>
        </div>

        <h2>Email</h2>
        <input type="text" th:field="*{customerEmail}">
        <div style="color:red">
            <span th:if="${#fields.hasErrors('customerEmail')}"
                  th:errors="*{customerEmail}">Błąd</span>
        </div>

        <h2>Delivery Address</h2>
        <input type="text" th:field="*{address}">
        <div style="color:red">
            <span th:if="${#fields.hasErrors('address')}"
                  th:errors="*{address}">Błąd</span>
        </div>

        <h2>Credit Card Number</h2>
        <input type="text" th:field="*{ccNumber}">
        <div style="color:red">
            <span th:if="${#fields.hasErrors('ccNumber')}"
                  th:errors="*{ccNumber}">Błąd</span>
        </div>

        <h2>Credit Card Expiration Date</h2>
        <input type="text" th:field="*{ccExpDate}">
        <div style="color:red">
            <span th:if="${#fields.hasErrors('ccExpDate')}"
                  th:errors="*{ccExpDate}">Błąd</span>
        </div>

        <h2>Credit Card CVV</h2>
        <input type="text" th:field="*{ccCVV}">
        <div style="color:red">
            <span th:if="${#fields.hasErrors('ccCVV')}"
                  th:errors="*{ccCVV}">Błąd</span>
        </div>

        <div style="margin-top: 2rem;
                    margin-bottom: 2rem">
            <button class="btn btn-dark">Złóż zamówienie</button>
        </div>

    </form>

</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>