<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Taco</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container-fluid" style="text-align:center; width: 700px">
    <h1>Witaj!</h1>
    <h2>Stwórz swoje taco już teraz!</h2>
</div>

<div class="container-fluid" style="text-align: center">
    <img th:src="@{/images/taco.svg}" style="width: 40%"/>
</div>

<div class="container-fluid" style="width: 500px">
    <h1>Składniki</h1>

    <section>
        <form method="post" th:object="${taco}">
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <h2>Wrapy</h2>
                    </td>
                </tr>
                <tr th:each="ingredient:${wraps}">
                    <td th:text="${ingredient.name}"></td>
                    <td><input name="ingredients" type="checkbox" th:value="${ingredient.id}"></td>
                </tr>
                <tr><td><h2>Mięso</h2></td></tr>
                <tr th:each="ingredient:${proteins}">
                    <td th:text="${ingredient.name}"></td>
                    <td><input name="ingredients" type="checkbox" th:value="${ingredient.id}"></td>
                </tr>
                <tr><td><h2>Warzywa</h2></td></tr>
                <tr th:each="ingredient:${veggies}">
                    <td th:text="${ingredient.name}"></td>
                    <td><input name="ingredients" type="checkbox" th:value="${ingredient.id}"></td>
                </tr>
                <tr><td><h2>Sery</h2></td></tr>
                <tr th:each="ingredient:${cheeses}">
                    <td th:text="${ingredient.name}"></td>
                    <td><input name="ingredients" type="checkbox" th:value="${ingredient.id}"></td>
                </tr>
                <tr><td><h2>Sosy</h2></td></tr>
                <tr th:each="ingredient:${sauces}">
                    <td th:text="${ingredient.name}"></td>
                    <td>
                        <input name="ingredients" type="checkbox" th:value="${ingredient.id}">
                    </td>
                </tr>
                </tbody>

            </table>
            <div class="container-fluid" style="color:red">
                <span th:if="${#fields.hasErrors('ingredients')}"
                  th:errors="*{ingredients}">Błąd</span>
            </div>
            <div class="container-fluid">
                <h2>Nazwa Taco</h2>
            </div>
            <div class="container-fluid">
                <input type="text" th:field="*{name}">
            </div>
            <div class="container-fluid" style="color:red">
                <span th:if="${#fields.hasErrors('name')}"
                      th:errors="*{name}">Błąd</span>
            </div>
            <div class="container-fluid" style="margin-bottom: 3rem;
                                                text-align: center;
                                                margin-top: 2rem">
                <button class="btn btn-dark">Przejdź do zamówienia</button>
            </div>
        </form>
    </section>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>